.intoAbout{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.intoAbout .into{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    justify-content:center;
    align-items: center;
    
}

.intoAbout .into .text{
    flex: 0.7 0 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px
}

.intoAbout .into .text .hello{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

.intoAbout .into .text .hello span{
    font-family:  permanent marker;
    font-size: 1.2em;
}

.intoAbout .into .text .rol {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
}

.intoAbout .into .text .welcome{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@keyframes heartAnimation {
    50%{transform: scale(1.25);}
}


.intoAbout .into .text .welcome .heart{
    animation-name: heartAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    font-size: 45px;
}


@keyframes fly {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 6px); }
    100%   { transform: translate(0, -0px); } 
}


.intoAbout .into .pinture {
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    flex: 0 0 200px;
}

.intoAbout .navLink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.intoAbout .navLink .link{
    color: black;
    text-decoration: none;
    font-size: 60px;
}

.intoAbout .navLink .link:hover{
    position: relative;
    bottom: 5px;
}

.intoAbout .navLink .link:visited{
    color: black;
}



.wapeContainer{
    background-color: black;
}
