@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
}


 


.contactosDespedida{
    font-size: 25px;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-bottom: 10px;
    animation-name: led;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#contactosTitulo{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
}

.contactosContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.contactosEnlace{
    text-decoration: none;
    color: white;
    font-family: 'Caveat', cursive;
}

.contacto-cuerpo:hover{ 
    color: #68e1fd;
    box-shadow:1px 1px 10px 5px #68e1fd;
    transform: scale(1.05);
    transition: 0.5s;
    position: relative;
    bottom: 5px;
}

.contacto-cuerpo{
    background-color: white;
    padding: 2px;
    transition: 0.5s;
    border-radius: 16px;
}

.contacto-contenido{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-radius: 16px;
    font-size: 25px;
}

.contacto-contenido i{
    font-size: 40px;
}

img,.habilidades-imagen{
    width: 406px;
    height: 306px;
}

.gitPortafolio{
    margin-top: 7px;
    text-align: center;
    font-size: 30px;
    font-family:'Caveat', cursive ;
}

.gitPortafolio a{
    margin-top: 30px;
}

.gitPortafolio a:visited{
    color: white;
}

.gitPortafolio a i{
    margin-top: 30px;
    color: white;
    transition: 0.5s;
    font-size: 40px;
}

.gitPortafolio a i:hover{
    color: #68e1fd;
    
    transform: scale(1.05);
    
    position: relative;
    bottom: 5px;
}
