

.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    color: #A6A6A6;
}

.skillsContainer .item{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Caveat', cursive;
}

.container .skillsContainer .item .icon{
    font-size: 45px;
    transition: 0.5s;
    color: #A6A6A6;
    transform: scale(1.45);
    transition: 500ms;
}




.container .active  .skillsContainer .active .item .icon{
    color: #68e1fd;
    transition: 0.5s;
    transform: scale(1.7);
}
